@media (min-width: 768px) {
    .contaainer {
        max-width: 720px;
        margin: 0 auto;
    }
}


.arrival{
    display: flex;
    flex-direction: row;
    margin-top:30px ;
}

.arrival-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 237, 221);
    padding: 20px 20px;
    width: 400px;
    gap: 5px;
}
.arrival-img{
    width: 50%;
}
.arrival-title {
    color: rgb(148, 132, 83);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.arrival-text {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 83, 83);

}
.buy-btn{
    margin-top: 20px;
    padding: 10px 5px;
    width: 150px;
    color: white;
    font-weight: 700;
    background-color: rgb(148, 132, 83);
    border: none;
}






.sub_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.sub_title-description {
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: rgb(113, 113, 113);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 40px;
}

.collage-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
}

.collage-image h3 {
    margin-top: 10px;

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 10px 30px;
}

.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

