header {
    display: flex;
    align-items: center;
}

nav {
    padding: 20px;
    flex: 1;
}

a {
    padding-right: 10px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    color: black;    
}

h2 {
    padding-right: 50px;
}

.header-button {
    padding: 5px;
    background-color: transparent;
    border: none;
}
.header-buttons-list{
    padding-right: 50px;
    flex: 1;
}